@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
    background-color: #0f1722;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Rubik', sans-serif; /* Добавлен запасной шрифт */
    font-size: 2vh;
    margin: 0; /* Убираем отступы по умолчанию у body */
    min-height: 100vh;
}

.fon {
    --header-background-image-height: 24.8vh;
    --theme-background-image-opacity: 1;
    background-image: linear-gradient(to bottom, transparent, #0f1722 80%), url('image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: var(--header-background-image-height);
    margin-bottom: calc(var(--header-background-image-height) * -1);
    opacity: var(--theme-background-image-opacity);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: -2;
  }

header {
    width: 100%;
    height: 13vh; /* Высота заголовка в процентах от высоты вьюпорта */
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.logo {
    display: flex;
    align-items: center; /* Выравнивание по центру по вертикали */
}

.logo img {
    height: 15vh; /* Высота логотипа */
    margin-top: 10vh; /* Добавляем отступ сверху */
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh; /* Высота заголовка, чтобы не накладывался контент навигации */
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0; /* Убираем отступы по умолчанию */
    padding: 0; /* Убираем отступы по умолчанию */
}

nav ul li {
    margin: 0 0.5vh;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 2vh;
    padding: 0.5vh 4vh;
}

main {
    margin-top: 7.5vh; /* Отступ от шапки */
    display: flex;     /* Используем Flexbox для центровки */
    justify-content: center; /* Центруем контейнер по горизонтали */
    align-items: flex-start; /* Выровнять контейнер по верхней части */
    margin-bottom: 4vh;
}

.conteiner {
    background-color: #161F2C;
    display: flex;
    flex-direction: column; /* Вертикальное размещение содержимого */
    justify-content: center; /* Центрируем содержимое по вертикали внутри контейнера */
    align-items: center;    /* Центрируем содержимое по горизонтали */
    border-radius: 2vh;   /* Закругленные углы */
    width: 150vh;          /* Ширина контейнера */
}

.name {
    color: #D80029;
    font-family: "Secular One";
    margin-top: 5vh;
    margin-left: -90vh;
}

.line1 {
    border: none;
    margin-left: 7.5vh;
    height: 0.3vh;
    width: 50vh;
    background-color: #D80029;
    margin-top: -2vh;
    margin-bottom: 4vh;
}

p {
    margin-top: 3vh;
    color: #DCDCDC;
    margin-left: 7.5vh;
    line-height: 3vh;
}

.foto1 img {
    height: 50vh;
}


.line2 {
    margin-top: 4vh;
    border: none;
    margin-left: 7.5vh;
    height: 0.3vh;
    width: 50vh;
    background-color: #D80029;
}

.title {
    color: #D80029;
    font-family: "Secular One";
    margin-top: -2vh;
}

.text1 {
    margin-right: 75vh;
    margin-top: -4vh;
}

.Kindom {
    margin-right: -85vh;
    margin-top: -45vh;
}

.Kindom img {
    height: 40vh;
}

.line3 {
    margin-top: 10vh;
    border: none;
    margin-left: 7.5vh;
    height: 0.3vh;
    width: 50vh;
    background-color: #D80029;
}

.text2 {
    margin-top: -4vh;
    margin-left: 54vh;
    margin-right: 10vh;
}

.box {
    margin-left: -90vh;
    margin-top: -50vh;
}

.box img {
    height: 38vh;
}

.text {
    margin-top: -4vh;
    margin-right: 7vh;
}

.episod1 {
    margin-right: -80vh;
    margin-top: -30vh;
}

.episod1 img {
    height: 30vh;
}

.blod {
    margin-left: -95vh;
    margin-top: -46vh;
}
.blod img {
    height: 40vh;
}

.episod2 {
    margin-right: -77vh;
    margin-top: -46vh;
}

.episod2 img {
    height: 40vh;
}

.episod3 {
    margin-right: -75vh;
    margin-top: -29.5vh;
    margin-bottom: 3vh;
}

.episod3 img {
    height: 30vh;
}

.text3 {
    margin-right: 75vh;
    margin-top: 1vh;
}

footer {
    background-color: #111111;
    width: 100%;
    height: 1%; /* Высота в процентах от высоты вьюпорта */
    bottom: 0;
    display: flex; /* Используем flexbox для выравнивания содержимого */
    align-items: center; /* Вертикальное выравнивание по центру */
}

a {
    text-decoration: none;
}

.flogo {
    margin-right: auto; /* Отодвигает текст вправо */
    margin-top: 3.5vh;
    margin-left: 15vh;
}

.flogo img {
    height: 11.5vh; /* Высота логотипа */
}

.ftext {
    color: #fff;
    font-family: 'Secular One', sans-serif; /* Добавлен запасной шрифт */
    font-size: 1.5vh;
    margin-top: 7.5vh;
    margin-left: -49.5vw;
    flex-grow: 1; /* Позволяет тексту занимать оставшееся пространство */
    text-align: center; /* Выравнивание текста по центру */
    user-select: none; /*Запрещает копирование текста*/
}

.ogran {
    margin-left: auto;
    margin-top: 2vh;
    margin-right: 3vh;
}

.ogran img {
    height: 6vh;
    border-radius: 1vh;
}

.seti img {
    height: 4vh;
    border-radius: 1.5vh;
}

.seti {
    margin-left: 27.5vw;
    margin-top: -1.5vh;
}

.logo_val img {
    height: 9vh;
}

.logo_val {
    margin-top: 3vh;
}

@media screen and (max-width: 320px) {
    body {
        max-width: 320px;
    }
    
    .fon {
        --header-background-image-height: 25vh; /* Увеличиваем высоту фона */
        margin-right: 0;
    }
    
    header {
        height: 18vh; /* Увеличиваем высоту заголовка */
    }

    .logo img {
        height: 10vh;
        margin-top: -0.5vh;
    }

    nav {
        margin-left: -20vw;
    }
    
    nav ul li a {
        font-size: 0.7em; /* Уменьшаем размер шрифта ссылок */
        padding: 0.3vh 0.5vh;
    }
    
    main {
        margin-top: 3vh; /* Увеличиваем отступ сверху */
    }
    
    .conteiner {
        width: 95vw; /* Увеличиваем ширину контейнера */
    }
    
    .name {
        margin-top: 1vh;
        font-size: 0.8em;
        margin-left: 20vw; /* Корректируем отступ слева */
    }

    .title {
        font-size: 0.8em;
        margin-left: 10vw;
    }
    
    .line1, .line2, .line3 {
        margin-left: 15vw;
        width: 70vw; /* Увеличиваем длину линии */
    }
    
    .text, .text1, .text2, .text3 {
        font-size: 0.8em;
        margin-left: -1vw; /* Корректируем отступ справа */
        margin-right: 7vw;
    }

    p {
        font-size: 0.8em;
        margin-left: 4vw; /* Корректируем отступ слева */
    }

    .foto1 img {
        height: 15vh;
    }

    .foto1 {
        margin: 0;
    }

    .Kindom img {
        height: 19vh;
    }

    .Kindom {
        margin: 0;
    }

    .box img {
        height: 25vh;
        margin-bottom: -7vh;
    }

    .box {
        margin: 0;
    }

    .blod img {
        height: 20vh;
        margin-top: -2vh;
        margin-bottom: -4vh;
    }

    .blod {
        margin: 0;
    }


    .episod1 img {
        height: 20vh;
    }

    .episod1 {
        margin: 0;
    }

    .episod2 img {
        height: 23vh;
    }

    .episod2 {
        margin: 0;
    }

    .episod3 img {
        height: 18vh;
    }

    .episod3 {
        margin: 0;
    }

   
    footer {
        height: 10%; /* Увеличиваем высоту футера */
        margin-bottom: 0;
        margin-right: 0;
    }

.flogo {
    margin-left: 1vw;
}

.seti img, .logo_val img, .ogran img {
    height: 3.7vh;
}

.ogran {
    margin-top:5vh;
}

.flogo img {
    height: 6vh;
}

.seti {
    margin-left: 10.5vw;
}
.ftext {
    font-size: 0.6em;
    text-align: center;
}
}

@media screen and (max-width: 375px) and (min-width: 321px) {
    body {
        max-width: 375px;
    }
    
    .fon {
        --header-background-image-height: 25vh; /* Увеличиваем высоту фона */
        margin-right: 0;
    }
    
    header {
        height: 18vh; /* Увеличиваем высоту заголовка */
    }

    .logo img {
        height: 10vh;
        margin-top: -0.5vh;
    }

    nav {
        margin-left: -20vw;
    }
    
    nav ul li a {
        font-size: 0.7em; /* Уменьшаем размер шрифта ссылок */
        padding: 0.3vh 0.5vh;
    }
    
    main {
        margin-top: 3vh; /* Увеличиваем отступ сверху */
    }
    
    .conteiner {
        width: 95vw; /* Увеличиваем ширину контейнера */
    }
    
    .name {
        margin-top: 1vh;
        font-size: 0.8em;
        margin-left: 7vw; /* Корректируем отступ слева */
    }

    .title {
        font-size: 0.8em;
        margin-left: 10vw;
    }
    
    .line1, .line2, .line3 {
        margin-left: 15vw;
        width: 70vw; /* Увеличиваем длину линии */
    }
    
    .text, .text1, .text2, .text3 {
        font-size: 0.8em;
        margin-left: -1vw; /* Корректируем отступ справа */
        margin-right: 7vw;
    }

    p {
        font-size: 0.8em;
        margin-left: 4vw; /* Корректируем отступ слева */
    }

    .foto1 img {
        height: 15vh;
    }

    .foto1 {
        margin: 0;
    }

    .Kindom img {
        height: 19vh;
    }

    .Kindom {
        margin: 0;
    }

    .box img {
        height: 25vh;
        margin-bottom: -7vh;
    }

    .box {
        margin: 0;
    }

    .blod img {
        height: 20vh;
        margin-top: -2vh;
        margin-bottom: -4vh;
    }

    .blod {
        margin: 0;
    }


    .episod1 img {
        height: 20vh;
    }

    .episod1 {
        margin: 0;
    }

    .episod2 img {
        height: 23vh;
    }

    .episod2 {
        margin: 0;
    }

    .episod3 img {
        height: 18vh;
    }

    .episod3 {
        margin: 0;
    }

   
    footer {
        height: 10%; /* Увеличиваем высоту футера */
        margin-bottom: 0;
        margin-right: 0;
    }

.flogo {
    margin-left: 1vw;
}

.seti img, .logo_val img, .ogran img {
    height: 3.7vh;
}

.ogran {
    margin-top:5vh;
}

.flogo img {
    height: 6vh;
}

.seti {
    margin-left: 15.5vw;
}
.ftext {
    font-size: 0.6em;
    text-align: center;
}
}

@media screen and (max-width: 425px) and (min-width: 376px) {
    body {
        max-width: 425px;
    }
    
    .fon {
        --header-background-image-height: 25vh; /* Увеличиваем высоту фона */
        margin-right: 0;
    }
    
    header {
        height: 18vh; /* Увеличиваем высоту заголовка */
    }

    .logo img {
        height: 10vh;
        margin-top: -0.5vh;
    }

    nav {
        margin-left: -20vw;
    }
    
    nav ul li a {
        font-size: 0.7em; /* Уменьшаем размер шрифта ссылок */
        padding: 0.3vh 0.5vh;
    }
    
    main {
        margin-top: 3vh; /* Увеличиваем отступ сверху */
    }
    
    .conteiner {
        width: 95vw; /* Увеличиваем ширину контейнера */
    }
    
    .name {
        margin-top: 1vh;
        font-size: 0.8em;
        margin-left: 7vw; /* Корректируем отступ слева */
    }

    .title {
        font-size: 0.8em;
        margin-left: 10vw;
    }
    
    .line1, .line2, .line3 {
        margin-left: 15vw;
        width: 70vw; /* Увеличиваем длину линии */
    }
    
    .text, .text1, .text2, .text3 {
        font-size: 0.8em;
        margin-left: -1vw; /* Корректируем отступ справа */
        margin-right: 7vw;
    }

    p {
        font-size: 0.8em;
        margin-left: 4vw; /* Корректируем отступ слева */
    }

    .foto1 img {
        height: 15vh;
    }

    .foto1 {
        margin: 0;
    }

    .Kindom img {
        height: 19vh;
    }

    .Kindom {
        margin: 0;
    }

    .box img {
        height: 25vh;
        margin-bottom: -7vh;
    }

    .box {
        margin: 0;
    }

    .blod img {
        height: 20vh;
        margin-top: -2vh;
        margin-bottom: -4vh;
    }

    .blod {
        margin: 0;
    }


    .episod1 img {
        height: 20vh;
    }

    .episod1 {
        margin: 0;
    }

    .episod2 img {
        height: 23vh;
    }

    .episod2 {
        margin: 0;
    }

    .episod3 img {
        height: 18vh;
    }

    .episod3 {
        margin: 0;
    }

   
    footer {
        height: 10%; /* Увеличиваем высоту футера */
        margin-bottom: 0;
        margin-right: 0;
    }

.flogo {
    margin-left: 1vw;
}

.seti img, .logo_val img, .ogran img {
    height: 3.7vh;
}

.ogran {
    margin-top:5vh;
}

.flogo img {
    height: 6vh;
}

.seti {
    margin-left: 20.5vw;
}
.ftext {
    font-size: 0.6em;
    text-align: center;
}
}

@media screen and (max-width:768px) and (min-width: 426px) {
    body {
        max-width: 768px;
    }
    
    .fon {
        --header-background-image-height: 25vh; /* Увеличиваем высоту фона */
        margin-right: 0;
    }
    
    header {
        height: 18vh; /* Увеличиваем высоту заголовка */
    }

    .logo img {
        height: 10vh;
        margin-top: 3.5vh;
    }

    nav {
        margin-left: -6vw;
    }
    
    nav ul li a {
        font-size: 0.7em; /* Уменьшаем размер шрифта ссылок */
        padding: 0.3vh 0.5vh;
    }
    
    main {
        margin-top: 3vh; /* Увеличиваем отступ сверху */
    }
    
    .conteiner {
        width: 95vw; /* Увеличиваем ширину контейнера */
    }
    
    .name {
        margin-top: 1vh;
        font-size: 0.8em;
        margin-left: 7vw; /* Корректируем отступ слева */
    }

    .title {
        font-size: 0.8em;
        margin-left: 10vw;
    }
    
    .line1, .line2, .line3 {
        margin-left: 15vw;
        width: 70vw; /* Увеличиваем длину линии */
    }
    
    .text, .text1, .text2, .text3 {
        font-size: 0.8em;
        margin-left: -1vw; /* Корректируем отступ справа */
        margin-right: 7vw;
    }

    p {
        font-size: 0.8em;
        margin-left: 4vw; /* Корректируем отступ слева */
    }

    .foto1 img {
        height: 15vh;
    }

    .foto1 {
        margin: 0;
    }

    .Kindom img {
        height: 19vh;
    }

    .Kindom {
        margin: 0;
    }

    .box img {
        height: 25vh;
        margin-bottom: -7vh;
    }

    .box {
        margin: 0;
    }

    .blod img {
        height: 20vh;
        margin-top: -2vh;
        margin-bottom: -4vh;
    }

    .blod {
        margin: 0;
    }


    .episod1 img {
        height: 20vh;
    }

    .episod1 {
        margin: 0;
    }

    .episod2 img {
        height: 23vh;
    }

    .episod2 {
        margin: 0;
    }

    .episod3 img {
        height: 18vh;
    }

    .episod3 {
        margin: 0;
    }

   
    footer {
        height: 10%; /* Увеличиваем высоту футера */
        margin-bottom: 0;
        margin-right: 0;
    }

.flogo {
    margin-left: 1vw;
}

.seti img, .logo_val img, .ogran img {
    height: 3.7vh;
}

.ogran {
    margin-top:5vh;
}

.flogo img {
    height: 6vh;
}

.seti {
    margin-left: 32.5vw;
}
.ftext {
    font-size: 0.6em;
    text-align: center;
}
}


@media screen and (max-width: 1024px) and (min-width: 769px) {
    body {
        max-width: 1024px;
        min-width: 769px;
    }
    
    .fon {
        --header-background-image-height: 23vh; /* Увеличиваем высоту фона */
        margin-right: 0;
    }
    
    header {
        height: 5vh; /* Увеличиваем высоту заголовка */
    }

    .logo {
       margin-left: -10vw;
    }

    .logo img {
        height: 15vh;
        margin-top: 16.5vh;
        margin-left: 0.5vw;
    }

    nav {
        margin-left: -3vw;
        margin-top: 15vh;
    }
    
    nav ul li a {
        font-size: 0.7em; /* Уменьшаем размер шрифта ссылок */
        padding: 0.5vh 1vh;
    }
    
    main {
        margin-top: 13vh; /* Увеличиваем отступ сверху */
    }
    
    .conteiner {
        width: 95vw; /* Увеличиваем ширину контейнера */
    }
    
    .name {
        margin-top: 1vh;
        font-size: 0.8em;
        margin-left: 10vw;
        }

    .title {
        font-size: 0.8em;
        margin-left: 10vw;
        width: auto;
    }
    
    .line1, .line2, .line3 {
        margin-left: 15vw;
        width: 70vw; /* Увеличиваем длину линии */
    }
    
    .text, .text1, .text2, .text3 {
        font-size: 0.8em;
        margin-left: -1vw; /* Корректируем отступ справа */
        margin-right: 7vw;
    }

    p {
        font-size: 0.8em;
        margin-left: 4vw; /* Корректируем отступ слева */
    }

    .foto1 img {
        height: 30vh;
    }

    .foto1 {
        margin: 0;
    }

    .Kindom img {
        height: 30vh;
    }

    .Kindom {
        margin: 0;
    }

    .box img {
        height: 30vh;
        margin-bottom: -7vh;
    }

    .box {
        margin: 0;
    }

    .blod img {
        height: 20vh;
        margin-top: -2vh;
        margin-bottom: -4vh;
    }

    .blod {
        margin: 0;
    }


    .episod1 img {
        height: 35vh;
    }

    .episod1 {
        margin: 0;
    }

    .episod2 img {
        height: 35vh;
    }

    .episod2 {
        margin: 0;
    }

    .episod3 img {
        height: 35vh;
    }

    .episod3 {
        margin: 0;
    }

   
    footer {
        height: 10%; /* Увеличиваем высоту футера */
        margin-bottom: 0;
        margin-right: 0;
    }

.flogo {
    margin-left: 1vw;
}

.seti img, .logo_val img, .ogran img {
    height: 3.9vh;
}

.ogran {
    margin-top:5vh;
}

.flogo img {
    height: 9vh;
}

.seti {
    margin-left: 33.5vw;
}
.ftext {
    font-size: 0.6em;
    text-align: center;
}
}